# First analysis and instruments aggregation

This notebook starts from the file 'HOP_OP_Tradeteq_09272018_', which is generated by the script 'extract_data.py' which translates columns names from the original file (they were not in English), converts all the dates to pandas datetime, converts all the numeric strings in numeric values (float) and deals with some typo found on the data provided.   
In this notebook a first data exploration for instruments aggregation is performed.

## Data import

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import os

In [2]:
#Receivables analysis
#import data
user = os.environ["USERNAME"]
filename = "00_raw_data.xlsm"
datafolder = "C:/Users/{}/Dropbox/University/MscDataScience_Birkbeck/thesis_project/data/".format(user)
sheet_name = "HOP_OP_Tradeteq_09272018_"
ReportDate = datetime.datetime(2018, 9, 28) #reference date on which data are received - all due dates after report date are related to open instruments

tr = pd.read_excel(datafolder+filename, sheet_name=sheet_name, header=1)

In [3]:
tr.head()

,Customer Id,Customer name 1,Debtor Id,Debtor name 1,invoice number,Invoice date,Due date,Invoice amount,Purchase amount,Purchase amount open,...,Bill Running number,cancellation date,Value date,currency,Purchase examination,prosecution,deduction amount,payment amount,payment date,document status
0,2004008,jobs united GmbH,381,Trigon Elektro AG,5911,2014-04-08,2014-04-18,2444.85,0.0,0.0,...,NaN,NaT,2014-04-18,Schweizer Franken,14.0,Nein,NaN,NaN,NaT,historisch
1,2004008,jobs united GmbH,381,Trigon Elektro AG,5911,2014-04-08,2014-04-18,2444.85,0.0,0.0,...,NaN,NaT,2014-04-18,Schweizer Franken,14.0,Nein,NaN,NaN,NaT,historisch
2,2004008,jobs united GmbH,381,Trigon Elektro AG,5912,2014-04-08,2014-04-18,2444.85,0.0,0.0,...,NaN,NaT,2014-04-18,Schweizer Franken,14.0,Nein,NaN,NaN,NaT,historisch
3,2004008,jobs united GmbH,381,Trigon Elektro AG,5912,2014-04-08,2014-04-18,2444.85,0.0,0.0,...,NaN,NaT,2014-04-18,Schweizer Franken,14.0,Nein,NaN,NaN,NaT,historisch
4,2004008,jobs united GmbH,381,Trigon Elektro AG,5913,2014-04-08,2014-04-18,2444.85,0.0,0.0,...,NaN,NaT,2014-04-18,Schweizer Franken,14.0,Nein,NaN,NaN,NaT,historisch

In [4]:
tr.describe()

,Invoice amount,Purchase amount,Purchase amount open,Discharge amount,Document stack Id,Delcredere amount open,Test characteristic Id,Bill id,Bill Running number,Purchase examination,deduction amount,payment amount
count,1.634370e+05,1.634370e+05,1.634370e+05,8566.000000,163437.000000,163437.0,6205.000000,163437.000000,0.0,40246.000000,124422.000000,1.244220e+05
mean,7.574744e+03,6.149851e+03,7.933434e+02,6642.063258,9079.745186,0.0,5.010475,34662.602495,NaN,24.749764,12.489859,6.529421e+03
std,3.176624e+04,3.071767e+04,1.155759e+04,12530.469797,5501.218052,0.0,0.101820,20608.606400,NaN,24.593116,395.416207,2.593557e+04
min,0.000000e+00,0.000000e+00,0.000000e+00,0.010000,1.000000,0.0,5.000000,1.000000,NaN,4.000000,0.000000,0.000000e+00
25%,1.501750e+03,1.414400e+02,0.000000e+00,178.280000,4579.000000,0.0,5.000000,16636.000000,NaN,14.000000,0.000000,1.487900e+03
50%,2.212900e+03,1.944000e+03,0.000000e+00,1814.700000,8809.000000,0.0,5.000000,34511.000000,NaN,14.000000,0.000000,2.192325e+03
75%,4.752000e+03,3.053700e+03,0.000000e+00,4425.000000,13597.000000,0.0,5.000000,52654.000000,NaN,14.000000,0.000000,4.320000e+03
max,1.777910e+06,1.777910e+06,1.146584e+06,128552.400000,19868.000000,0.0,6.000000,72355.000000,NaN,165.000000,33011.650000,1.363389e+06

In [5]:
#should be datetime64[ns] for all date columns
tr.dtypes

Customer Id                       object
Customer name 1                   object
Debtor Id                         object
Debtor name 1                     object
invoice number                    object
Invoice date              datetime64[ns]
Due date                  datetime64[ns]
Invoice amount                   float64
Purchase amount                  float64
Purchase amount open             float64
Discharge Type                    object
Discharge amount                 float64
Discharge date            datetime64[ns]
Posting Date              datetime64[ns]
Transaction Type                  object
Document stack Id                  int64
booking text                      object
Delcredere amount open             int64
Input date                datetime64[ns]
Creation Date             datetime64[ns]
Factoring Type                    object
Debt collection date      datetime64[ns]
Last payment date         datetime64[ns]
Reminder date             datetime64[ns]
Test feature tested               object
Test characteristic Id           float64
Bill id                            int64
Bill Running number              float64
cancellation date         datetime64[ns]
Value date                datetime64[ns]
currency                          object
Purchase examination             float64
prosecution                       object
deduction amount                 float64
payment amount                   float64
payment date              datetime64[ns]
document status                   object
dtype: object

In [6]:
tr.columns = tr.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [7]:
tr.head().transpose()

,0,1,2,3,4
customer_id,2004008,2004008,2004008,2004008,2004008
customer_name_1,jobs united GmbH,jobs united GmbH,jobs united GmbH,jobs united GmbH,jobs united GmbH
debtor_id,381,381,381,381,381
debtor_name_1,Trigon Elektro AG,Trigon Elektro AG,Trigon Elektro AG,Trigon Elektro AG,Trigon Elektro AG
invoice_number,5911,5911,5912,5912,5913
invoice_date,2014-04-08 00:00:00,2014-04-08 00:00:00,2014-04-08 00:00:00,2014-04-08 00:00:00,2014-04-08 00:00:00
due_date,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00
invoice_amount,2444.85,2444.85,2444.85,2444.85,2444.85
purchase_amount,0,0,0,0,0
purchase_amount_open,0,0,0,0,0
discharge_type,Kunde,Kunde,Kunde,Kunde,Kunde
discharge_amount,2444.85,2444.85,2444.85,2444.85,2444.85
discharge_date,2016-03-22 00:00:00,2016-03-22 00:00:00,2016-03-22 00:00:00,2016-03-22 00:00:00,2016-03-22 00:00:00
posting_date,2016-03-22 00:00:00,2016-01-30 00:00:00,2016-03-22 00:00:00,2016-01-30 00:00:00,2016-03-22 00:00:00
transaction_type,Cancel invoice client,Purchase invoice,Cancel invoice client,Purchase invoice,Cancel invoice client
document_stack_id,8,8,8,8,8
booking_text,Migration,Migration,Migration,Migration,Migration
delcredere_amount_open,0,0,0,0,0
input_date,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00
creation_date,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00
factoring_type,Full Service,Full Service,Full Service,Full Service,Full Service
debt_collection_date,NaT,NaT,NaT,NaT,NaT
last_payment_date,NaT,NaT,NaT,NaT,NaT
reminder_date,2014-06-16 00:00:00,2014-06-16 00:00:00,2014-06-16 00:00:00,2014-06-16 00:00:00,2014-06-16 00:00:00
test_feature_tested,NaN,NaN,NaN,NaN,NaN
test_characteristic_id,NaN,NaN,NaN,NaN,NaN
bill_id,343,343,344,344,345
bill_running_number,NaN,NaN,NaN,NaN,NaN
cancellation_date,NaT,NaT,NaT,NaT,NaT
value_date,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00
currency,Schweizer Franken,Schweizer Franken,Schweizer Franken,Schweizer Franken,Schweizer Franken
purchase_examination,14,14,14,14,14
prosecution,Nein,Nein,Nein,Nein,Nein
deduction_amount,NaN,NaN,NaN,NaN,NaN
payment_amount,NaN,NaN,NaN,NaN,NaN
payment_date,NaT,NaT,NaT,NaT,NaT
document_status,historisch,historisch,historisch,historisch,historisch

In [8]:
#different values for string type columns in the dataset
print(tr['discharge_type'].unique(), len(tr['discharge_type'].unique()))
print(tr['transaction_type'].unique(), len(tr['transaction_type'].unique()))
print(tr['booking_text'].unique(), len(tr['booking_text'].unique()))
print(tr['factoring_type'].unique(), len(tr['factoring_type'].unique()))
print(tr['test_feature_tested'].unique(), len(tr['test_feature_tested'].unique()))
print(tr['currency'].unique(), len(tr['currency'].unique()))
print(tr['document_status'].unique(), len(tr['document_status'].unique()))

['Kunde' nan 'Debitor' 'Factor'] 4
['Cancel invoice client' 'Purchase invoice' 'incoming payments'
 'Subsequent assignment of the payment' 'Debt collection invoice'
 'Reminder bill' 'Subsequent allocation of the credit' 'Credit entry'
 'Cancellation invoice' 'Cancellation of the payment'
 'Cancellation assignment payment' 'Cancel invoice debtor'
 'Additional purchase invoice' 'Repurchase bill' 'Cancel invoice company'
 'Cancellation assignment credit' 'Cancellation of the credit'
 'Bulk confirmation' 'Cancellation reminder invoice' 'Goods dispute bill'
 nan] 21
['Migration' nan 'Umbuchung aufgrund Migrationsfehler' '0' 'Umbuchung'
 'ersetzt RG 2017-1148' 'ersetzt RG 2017-1026' 'ersetzt RG 2017-1027'
 'Gutschrift zu RE 3565 /  bezahlt am 01.11.2017'
 'Ersetzt Rechnung Nr. 3402110517 vom 11.05.2017'
 'Ersetzt Rechnung Nr. 3404110517 vom 15.05.2017'
 'Ersetzt Rechnung Nr. 3403110517 vom 11.05.2017'
 'Ersetzt Rechnung Nr. 3411150517 vom 15.05.2017'
 'Ersetzt Rechnung Nr. 3412150517 vom 15.05.2017'
 'Ersetzt Rechnung Nr. 3414150517 vom 15.05.2017'
 'Ersetzt Rechnung Nr. 3413150517 vom 15.05.2017'
 'Ersetzt Rechnung Nr. 3399110517 vom 11.05.2017'
 'Ersetzt Rechnung Nr. 3400110517 vom 11.05.2017'
 'Ersetzt Rechnung Nr. 3401110517 vom 11.05.2017'
 'Ersetzt Rechnung 3391100517 vom 10.05.2017'
 'Ersetzt Rechnung Nr. 3393100517 vom 10.05.2017'
 'Ersetzt Rechnung Nr. 3392100517 vom 10.05.2017'
 'Ersetzt Rechnung Nr. 3394100517 vom 10.05.2017'
 'Ersetzt Rechnung Nr. 3292070317 vom 07.03.2017'
 'Ersetzt Rechnung Nr. 3293070317 vom 07.03.2017'
 'Ersetzt Rechnung Nr. 3294070317 vom 07.03.2017'
 'Ersetzt Rechnung Nr. 3295070317 vom 07.03.2017'
 'Ersetzt Rechnung Nr. 3285280217 vom 28.02.2017'
 'Ersetzt Rechnung Nr. 3286280217 vom 28.02.2107'
 'Ersetzt Rechnung Nr. 3287280217 vom 28.02.2017'
 'Ersetzt Rechnung Nr. 3385090517 vom 09.05.2017'
 'Ersetzt Rechnung Nr. 3386090517 vom 09.05.2017'
 'Ersetzt Rechnung Nr. 3387090517 vom 09.05.2017' '3'
 'RG zu spÃ¤t erhalten; Skonto wird abgezogen.'
 'Umbuchung von Debitor Walker auf Debitor Boss'
 'ersetzt Rg. 2386 vom 08.08.2017'
 'ersetzt RE 116 vom 16.06.2017 Ã¼ber CHF 518.40' '35433' '.' '582154'
 '10561' 'Pro-Forma Invoice 94000527 paiement avant la production'
 'Vorausszahlung am 27.07.2018'
 'Ersetzt RG 71800034 an 54 Sports FrÃ¶hlicher GmbH Biel'] 45
['Full Service' 'Reverse Factoring' 'Finanzfactoring'] 3
[nan 'Nein' 'Ja'] 3
['Schweizer Franken' 'Euro' 'US-Dollar' 'Britisches Pfund'] 4
['historisch' 'storniert' 'offen' 'ungebucht'] 4

The column 'document_status' (present in the previous dataset but not in this one) had 4 different values, that can be translated in the following way:  
- 'historisch' = historical data
- 'storniert' = canceled
- 'offen' = open
- 'ungebucht' = unaccounted

## Instruments mapping

In [9]:
tr.shape

(163437, 37)

### 1. Relabel invoices to ensure unique ids

At this step, the script will perform an aggregation of unique ids at instrument level.  
Each transaction is part of one and only one unique instrument which can be isolated using the following fields:  
- invoice number
- debtor_id
- bill_id  

We can create a new column called 'uid' containing the unique id of each instrument.

In [10]:
#key_columns = ['invoice_number',  "debtor_id", "bill_id"] 
tr["uid"] = tr['invoice_number'].map(str) + ":" +tr["debtor_id"].map(str)+"/" + tr["bill_id"].map(str)

#drop columns with identical values
to_drop = []
for c in tr.columns:
    if len(tr[c].unique())==1:
        print(c)
        to_drop.append(c)

tr = tr.drop(columns = to_drop)
tr.shape

delcredere_amount_open
bill_running_number

(163437, 36)

In [11]:
tr.head(10).transpose()

,0,1,2,3,4,5,6,7,8,9
customer_id,2004008,2004008,2004008,2004008,2004008,2004008,2004008,2004008,2004008,2004008
customer_name_1,jobs united GmbH,jobs united GmbH,jobs united GmbH,jobs united GmbH,jobs united GmbH,jobs united GmbH,jobs united GmbH,jobs united GmbH,jobs united GmbH,jobs united GmbH
debtor_id,381,381,381,381,381,381,381,381,381,381
debtor_name_1,Trigon Elektro AG,Trigon Elektro AG,Trigon Elektro AG,Trigon Elektro AG,Trigon Elektro AG,Trigon Elektro AG,Trigon Elektro AG,Trigon Elektro AG,Trigon Elektro AG,Trigon Elektro AG
invoice_number,5911,5911,5912,5912,5913,5913,5918,5918,5919,5919
invoice_date,2014-04-08 00:00:00,2014-04-08 00:00:00,2014-04-08 00:00:00,2014-04-08 00:00:00,2014-04-08 00:00:00,2014-04-08 00:00:00,2014-04-08 00:00:00,2014-04-08 00:00:00,2014-04-08 00:00:00,2014-04-08 00:00:00
due_date,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00
invoice_amount,2444.85,2444.85,2444.85,2444.85,2444.85,2444.85,2602.95,2602.95,2690,2690
purchase_amount,0,0,0,0,0,0,0,0,0,0
purchase_amount_open,0,0,0,0,0,0,0,0,0,0
discharge_type,Kunde,Kunde,Kunde,Kunde,Kunde,Kunde,Kunde,Kunde,Kunde,Kunde
discharge_amount,2444.85,2444.85,2444.85,2444.85,2444.85,2444.85,2602.95,2602.95,2690,2690
discharge_date,2016-03-22 00:00:00,2016-03-22 00:00:00,2016-03-22 00:00:00,2016-03-22 00:00:00,2016-03-22 00:00:00,2016-03-22 00:00:00,2016-03-22 00:00:00,2016-03-22 00:00:00,2016-03-22 00:00:00,2016-03-22 00:00:00
posting_date,2016-03-22 00:00:00,2016-01-30 00:00:00,2016-03-22 00:00:00,2016-01-30 00:00:00,2016-03-22 00:00:00,2016-01-30 00:00:00,2016-03-22 00:00:00,2016-01-30 00:00:00,2016-03-22 00:00:00,2016-01-30 00:00:00
transaction_type,Cancel invoice client,Purchase invoice,Cancel invoice client,Purchase invoice,Cancel invoice client,Purchase invoice,Cancel invoice client,Purchase invoice,Cancel invoice client,Purchase invoice
document_stack_id,8,8,8,8,8,8,8,8,8,8
booking_text,Migration,Migration,Migration,Migration,Migration,Migration,Migration,Migration,Migration,Migration
input_date,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00
creation_date,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00
factoring_type,Full Service,Full Service,Full Service,Full Service,Full Service,Full Service,Full Service,Full Service,Full Service,Full Service
debt_collection_date,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
last_payment_date,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
reminder_date,2014-06-16 00:00:00,2014-06-16 00:00:00,2014-06-16 00:00:00,2014-06-16 00:00:00,2014-06-16 00:00:00,2014-06-16 00:00:00,2014-06-16 00:00:00,2014-06-16 00:00:00,2014-06-16 00:00:00,2014-06-16 00:00:00
test_feature_tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
test_characteristic_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bill_id,343,343,344,344,345,345,346,346,347,347
cancellation_date,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
value_date,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00,2014-04-18 00:00:00
currency,Schweizer Franken,Schweizer Franken,Schweizer Franken,Schweizer Franken,Schweizer Franken,Schweizer Franken,Schweizer Franken,Schweizer Franken,Schweizer Franken,Schweizer Franken
purchase_examination,14,14,14,14,14,14,14,14,14,14
prosecution,Nein,Nein,Nein,Nein,Nein,Nein,Nein,Nein,Nein,Nein
deduction_amount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
payment_amount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
payment_date,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
document_status,historisch,historisch,historisch,historisch,historisch,historisch,historisch,historisch,historisch,historisch
uid,5911:381/343,5911:381/343,5912:381/344,5912:381/344,5913:381/345,5913:381/345,5918:381/346,5918:381/346,5919:381/347,5919:381/347

### 2. Replace transaction types with a numeric dictionary

Transaction types that can be associated with an entering flow of money (to be combined with the 'paid_amount' field):
- 'incoming payments'
- 'Credit entry'
- 'Subsequent assignment of the payment'
- 'Cancel invoice client'  
  
Transaction types that can be considered as an exiting flow of money (to be combined with the 'purchase_amount' field):
- 'Purchase invoice'
- 'Additional purchase invoice'

In [12]:
tr.drop(tr[tr.transaction_type.isnull()].index, axis=0, inplace=True)

ttypes = ['Purchase invoice', 'incoming payments', 'Reminder bill',
                      'Additional purchase invoice', 'Bulk confirmation',
                      'Subsequent assignment of the payment',
                      'Cancel invoice client',
                      'Cancellation invoice',
                      'Debt collection invoice',
                      'Credit entry', 'Cancellation of the payment',
                      'Subsequent allocation of the credit',
                      'Cancellation assignment payment', 
                      'Repurchase bill',
                      'Cancel invoice debtor',
                      'Cancel invoice company',
                      '',
                      'Goods dispute bill',
                      'Cancellation reminder invoice','Cancellation of the credit',
                      'Cancellation assignment credit' 
        ]
ttypedict = dict(zip(ttypes, list(range(len(ttypes)))))

if not set(tr.transaction_type.unique()).issubset(set(ttypedict.keys())):
    print("Unexpected transaction types {:}".format(set(tr.transaction_type.unique()).difference(set(ttypedict.keys()))))

tr["ttype"] = tr.transaction_type.apply(lambda x: ttypedict[x])

tr = tr.sort_values(["posting_date", "ttype"], ascending = [True, True])
ttsorted = sorted(ttypedict, key=ttypedict.get) 
ttlist = list(zip(ttsorted, [ttypedict[x] for x in ttsorted]))
for (k,v) in ttlist:
    print("{:} - {:}".format(k, v))

Purchase invoice - 0
incoming payments - 1
Reminder bill - 2
Additional purchase invoice - 3
Bulk confirmation - 4
Subsequent assignment of the payment - 5
Cancel invoice client - 6
Cancellation invoice - 7
Debt collection invoice - 8
Credit entry - 9
Cancellation of the payment - 10
Subsequent allocation of the credit - 11
Cancellation assignment payment - 12
Repurchase bill - 13
Cancel invoice debtor - 14
Cancel invoice company - 15
 - 16
Goods dispute bill - 17
Cancellation reminder invoice - 18
Cancellation of the credit - 19
Cancellation assignment credit - 20

### 3. Checking which columns are instrument attributes and which are trade attributes

The next cell will perform a check on the dataset columns to check which of them are instruments attributes (hence they will contain a unique value for each instrument) and which are trade attributes (having different values for each instrument since they are related to the single trade).

In [13]:
#this is slow
#compiling a dictionary of value lists in each column per instrument
i_g = tr.groupby("uid")
mult_per_i={}
for c in tr.columns:
    #aggregate invoice id and count unique values of c in each grouping:
    ag = i_g.agg({"uid": "first", "invoice_number": "first", c: [lambda x: len(x.unique()), "unique"]})
    exc = ag[c]["unique"][(ag[c]["<lambda>"]>1.)] #instruments with more than one c value
    if len(exc.index)>50: #many instruments with different values
        print(c, ": ", len(exc.index), " instruments")
    elif len(exc.index) == 0: #instrument level column for all trades
        print(c, ": ok")
    else: #some instruments with differenct values
        print(c, ": ", len(exc.index), " instruments", exc)
        
    mult_per_i[c] = exc

customer_id : ok
customer_name_1 : ok
debtor_id : ok
debtor_name_1 : ok
invoice_number : ok
invoice_date : ok
due_date : ok
invoice_amount : ok
purchase_amount : ok
purchase_amount_open : ok
discharge_type : ok
discharge_amount : ok
discharge_date : ok
posting_date :  59789  instruments
transaction_type :  55873  instruments
document_stack_id : ok
booking_text : ok
input_date : ok
creation_date : ok
factoring_type : ok
debt_collection_date : ok
last_payment_date : ok
reminder_date : ok
test_feature_tested : ok
test_characteristic_id : ok
bill_id : ok
cancellation_date : ok
value_date : ok
currency : ok
purchase_examination : ok
prosecution : ok
deduction_amount :  9  instruments uid
0008/4/12.17:0340023/46885      [50.0, 0.0]
08-2017UK:0150007/16389         [9.44, 0.0]
12-2016UK:0150003/4130          [0.0, 9.33]
175.09.2016:0170001/9737        [5.66, 0.0]
2016 1018:0250005/2577        [150.66, 0.0]
20341:44/1074                  [0.0, 250.0]
2:85/49998                      [5.22, 0.0]
34:0250002/35258               [10.41, 0.0]
74-2016UK:0150016/11076         [9.71, 0.0]
Name: unique, dtype: object
payment_amount :  299  instruments
payment_date :  308  instruments
document_status : ok
uid : ok
ttype :  55873  instruments

### 4. Build instruments structure

In [14]:
#build the instruments structure, preserving all data in trx
#add transaction type enumerator column

#count of entries in mult_per_i
ncoll={}
for k in mult_per_i.keys():
    ncoll[k] = mult_per_i[k].shape[0]

i_g = tr.groupby("uid")
#aggregate by first value...
#dictionary of operation to perform:
agg_cdict = dict(zip(tr.columns, ["first" for c in tr.columns]))
#...unless there are instruments with more than one value for which use list...
for k,v in ncoll.items():
    if v>0: 
        agg_cdict[k]=(lambda x: list(x))
#...unless max makes more sense
agg_cdict["deduction_amount"] = "max"
inst = i_g.agg(agg_cdict)
inst.head()

,customer_id,customer_name_1,debtor_id,debtor_name_1,invoice_number,invoice_date,due_date,invoice_amount,purchase_amount,purchase_amount_open,...,value_date,currency,purchase_examination,prosecution,deduction_amount,payment_amount,payment_date,document_status,uid,ttype
uid,,,,,,,,,,,,,,,,,,,,,
!17M529/1K:0350001/41405,2004035,Yawara GmbH,0350001,KONE AG,!17M529/1K,2017-10-27,2017-11-26,7263.27,7263.27,0.0,...,2017-10-27,Schweizer Franken,NaN,Nein,NaN,"[nan, nan, nan, nan, nan]","[NaT, NaT, NaT, NaT, NaT]",storniert,!17M529/1K:0350001/41405,"[0, 3, 2, 2, 7]"
.4078:62811/42717,2004022,Fortuna Personalberatung GmbH,62811,Christian RÃ¼edi AG,.4078,2017-11-07,2017-12-07,824.20,824.20,0.0,...,2017-11-07,Schweizer Franken,NaN,Nein,0.0,"[824.2, 824.2]","[2017-12-11 00:00:00, 2017-12-11 00:00:00]",historisch,.4078:62811/42717,"[0, 1]"
0000138939:002/3266,002-1001,Softub Inc.,002,Softub Schweiz AG,0000138939,2016-03-18,2016-06-16,55566.00,55566.00,0.0,...,2016-03-18,US-Dollar,NaN,Nein,0.0,"[55566.0, 55566.0]","[2016-09-14 00:00:00, 2016-09-14 00:00:00]",historisch,0000138939:002/3266,"[0, 1]"
0000140268:002/5158,002-1001,Softub Inc.,002,Softub Schweiz AG,0000140268,2016-05-26,2016-09-23,54595.80,54595.80,0.0,...,2016-05-26,US-Dollar,NaN,Nein,0.0,"[54595.8, 54595.8]","[2016-11-10 00:00:00, 2016-11-10 00:00:00]",historisch,0000140268:002/5158,"[0, 1]"
0000140699:002/7114,002-1001,Softub Inc.,002,Softub Schweiz AG,0000140699,2016-06-22,2016-10-20,60150.00,60150.00,0.0,...,2016-06-22,US-Dollar,NaN,Nein,0.0,"[50644.5, 557.89, 8947.61, 50644.5, 557.89, 89...","[2017-02-17 00:00:00, 2017-03-28 00:00:00, 201...",historisch,0000140699:002/7114,"[0, 0, 0, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]"

### 5. Save the instruments dataset

In [15]:
prefix = "190108_"
filename = "instrumentsdf.pkl"
inst.to_pickle(datafolder + prefix + filename)